.DS_Store
__pycache__/
*.py[cod]
.venv*/
build/
dist/
release/
*.spec
firmware/toolchains/
firmware/pico-sdk/
firmware/tinyusb/
firmware/cb-voice-box/*-build/
firmware/cb-voice-box/build/
whisper.cpp/
